$linov-color: #7CBF95;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
#app {
    font-family: Poppins, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.linov-text {
    color: $linov-color;
}
.linov-btn {
    background-color: $linov-color !important;
    color: white !important;
    border: solid 1px $linov-color !important;

    &:hover{
        transform: scale(1.01) !important;
        background-color: $linov-color !important;
        filter: contrast(1.1) !important;
    }
    &::after{
        background-color: #7CBF95;
    }
}
.line {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
}
.cart-icon{
    margin-top: 2px;
}
.register .login {
    background: #ffffff;
    border-radius: 30px;
    text-align: left;
    border: 1px solid #7CBF95;
}
.arrow-icon{
    margin-top: 5px;
}
.empty{
    margin-top: 150px;
    height: 250px;
}
.img-table{
    width: 300px !important;
}
.round{
    border-radius: 4% !important;
}
.boxshadow{
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.2) !important;
}
.bread{
  background-color: transparent !important;
  padding: 0px !important;
}

$new-color: #16ABF8 !default;
